# fly.toml app configuration file generated for recurrency on 2026-01-02T17:24:11-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'recurrency'
primary_region = 'yyz'

[build]

[http_service]
  internal_port = 18080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "recurrency_data"
  destination = "/data"